spacy==3.4.4
thinc==8.1.0
fastapi==0.94.1
uvicorn==0.32.0
torch==2.1.1
transformers==4.31.0
rdflib==7.1.0
newspaper3k==0.2.8
langdetect==1.0.9
beautifulsoup4==4.12.2
lxml==4.9.3
requests==2.31.0
pydantic==1.7.4
tqdm==4.66.1
jinja2==3.1.2
python-dateutil==2.8.2
numpy<1.25.0
python-dotenv
huggingface-hub
