body {
  font-family: Arial, sans-serif;
  background-color: #DBEEF3;
  margin: 0;
  padding: 0;
}

.container {
  margin: 20px auto;
  padding: 20px;
  max-width: auto;
  background: #D4D9DA;

}

button {
  cursor: pointer;
}
